.wpcf7-form label {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.wpcf7-form .wpcf7-radio {
  margin-bottom: 25px;
  display: block;
}
.wpcf7-form .wpcf7-radio label {
  font-size: 14px;
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 3px;
  line-height: 20px;
}
.wpcf7-form span.wpcf7-list-item {
  margin: 0 15px 0 0;
}
.wpcf7-form input[type="submit"] {
  margin-top: 0;
}
.wpcf7-form-control-wrap {
  display: block;
  margin-bottom: 0px;
}

div.wpcf7-validation-errors {
  background-color: #d61d1d;
}
div.wpcf7-validation-errors:before {
  content: "\f057";
}
div.wpcf7-mail-sent-ok {
  background-color: #0fa55d;
}
div.wpcf7-mail-sent-ok:before {
  content: "\f058";
}
span.wpcf7-not-valid-tip {
  font-weight: 400;
  padding-bottom: 5px;
  color: #d61d1d;
  font-size: 12px;
}
.wpcf7-form .wpcf7-form-control-wrap {
  margin-bottom: 0;
}
.wpcf7-form .label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: 0;
  pointer-events: none;
  opacity: 1;
  font-size: 0.857em;
  line-height: 50px;
}
.wpcf7-form .label.gt3_onfocus {
  opacity: 0;
}
.wpcf7-form input[type="submit"] {
  background-size: 150% 100%;
  transition: all 0.4s ease-in-out;
}
.wpcf7-form input[type="submit"]:hover {
  background-position: 100% 150%;
  transition: all 0.4s ease-in-out;
}
.wpcf7 form .wpcf7-response-output {
  margin-left: 0;
  margin-right: 0;
}
.wpcf7-form p br,
body .wpcf7-spinner {
  display: none;
}
.wpcf7-form p {
  padding: 0;
  margin: 0;
}
